<!DOCTYPE html>
<html>
<head>
	<title>mine</title>
	<link rel="stylesheet" type="text/css" href="./css/bomb-style.css">
</head>
<body>
<div id="app">
	<div class="score">score:{{score}} bombs:60/400</div>
	<div id="box">
		<div class="line" v-for="(line,index1) in lines">
			<div class="block" v-for="(block,index2) in line" :key="random()" :style="{backgroundColor:clickArray[index1][index2] === ''?'#518ed2':'#bb4e0c'}" @click="changeBgc(index1,index2)">{{clickArray[index1][index2] | textFilter}}</div>
		</div>
	</div>
</div>
</body>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script type="text/javascript">
let vm = new Vue({
	el:"#app",
	data:{
		width:20,
		lines:[],
		CONST_NULL:0,
		CONST_BOMB:9,
		bomb_num:3,
		clickArray:undefined,
		score:0
	},
	methods:{
		random(){
			return Math.random().toString(16)
		},
		run(){
			this.init()
			
			let array = this.lines.reduce((p,k)=>{
				p.push(...k)
				return p
			},[])
			
			for(let i=0;i<this.width*this.bomb_num;i++){
				array[i] = 9
			}
			let count = this.width**2

			while(count){
				pindex = Math.floor(Math.random()*count--);
				[ array[pindex],array[count] ] = [ array[count],array[pindex] ]
			}
			
			this.lines = null 
			this.lines = []
			for(let j=0;j<this.width;j++){
				this.lines[j] = []
				for(let i=0;i<this.width;i++){
					this.lines[j][i] = array[j*this.width+i]
				}
			}
			
			for(let j=0;j<this.width;j++){
				for(let i=0;i<this.width;i++){
					if(this.lines[j][i]==9){
					if(this.lines[j-1]){
						if(this.lines[j-1][i-1]<9){this.lines[j-1][i-1]++}
						if(this.lines[j-1][i]<9){this.lines[j-1][i]++}
						if(this.lines[j-1][i+1]<9){this.lines[j-1][i+1]++}
					}
					if(this.lines[j+1]){
						if(this.lines[j+1][i-1]<9){this.lines[j+1][i-1]++}
						if(this.lines[j+1][i]<9){this.lines[j+1][i]++}
						if(this.lines[j+1][i+1]<9){this.lines[j+1][i+1]++}
					}
					if(this.lines[j][i-1]!==undefined){
						if(this.lines[j][i-1]<9){this.lines[j][i-1]++}
					}
					if(this.lines[j][i+1]!==undefined){
						if(this.lines[j][i+1]<9){this.lines[j][i+1]++}
					}
					}
				}
			}

		},
		init(){
			this.score = 0
			this.lines = new Array(this.width)
			for(let j=0;j<this.lines.length;j++){
				this.lines[j] = Array(this.width).fill(0)
			}
			this.clickArray =  new Array(this.width)
			for(let k=0;k<this.clickArray.length;k++){
				this.clickArray[k] = Array(this.width).fill('')
			}
		},
		changeBgc(index1,index2){
			let r = this.clickArray[index1][index2]
			let p = JSON.parse(JSON.stringify(this.clickArray[index1]))
			p[index2] = this.lines[index1][index2]
			//强制视图更新
			Vue.set(this.clickArray,index1,p)
			let result = p[index2]
			if(result == 9){
				let d = confirm('游戏结束')
				this.showAll()
			}else if(r === ''){
				this.score++
			}
		},
		showAll(){
			for(let k=0;k<this.width;k++){
				for(let j=0;j<this.width;j++){
					this.clickArray[k][j] = this.lines[k][j]
				}
			}
		}
	},
	created(){
		this.run()
	},
	filters:{
		textFilter:function(val){
			return val==0?'':val==9?'\u{1F4A3}':val
		}
	}
})
</script>
</html>