<!DOCTYPE html>
<html>
<head>
	<title>mine</title>
	<link rel="stylesheet" type="text/css" href="./bomb-style.css">
</head>
<body>
<div id="app">
	<div class="flag btn" @click="window.location.reload()">重新开始</div>
	<div class="score">score:{{score}}  flags:{{flag_num}}/{{bomb_num}}  bombs:40/400</div>
	<div class="flag_func">
		<div class="flag flag_off" :style="{backgroundColor:flag_func?'#CDCDB4':'#518ed2'}" @click="flag_func=false">翻格子</div>
		<div class="flag flag_on" :style="{backgroundColor:flag_func?'#518ed2':'#CDCDB4'}" @click="flag_func=true">插旗子</div>
	</div>
	<div id="box">
		<div class="line" v-for="(line,rowIndex) in lines" :key="rowIndex">
			<div class="block" v-for="(cell,colIndex) in line" :key="rowIndex+','+colIndex" :style="{backgroundColor:cell.status === 0?'#bb4e0c':'#518ed2'}" @click.left = "turn(rowIndex, colIndex)">{{cell | textFilter}}</div>
		</div>
	</div>
</div>
</body>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
<script type="text/javascript">
let vm = new Vue({
	el:"#app",
	data:{
		width:20,
		lines:[],
		bomb_num:40,
		score:0,
		flag_num:0,
		//four status
		FRONT:0,//翻开 
		BACK:1,//未翻开
		FLAG:2,//插旗
		//cell around
		AROUND:[
		[-1,-1],
		[-1,0],
		[-1,1],
		[0,-1],
		[0,1],
		[1,-1],
		[1,0],
		[1,1]
		],
		//是否插旗状态
		flag_func:false
	},
	methods:{
		run(){
			this.init()
			
			let array = this.lines.reduce((p,k)=>{
				p.push(...k.map(i => i.value))
				return p
			},[])
			
			for(let i=0;i<this.bomb_num;i++){
				array[i] = 9
			}
			let count = this.width**2

			while(count){
				pindex = Math.floor(Math.random()*count--);
				[ array[pindex],array[count] ] = [ array[count],array[pindex] ]
			}

			for(let j=0;j<this.width;j++){
				for(let i=0;i<this.width;i++){
					this.lines[j][i].value = array[j*this.width+i]
				}
			}
			
			for(let j=0;j<this.width;j++){
				for(let i=0;i<this.width;i++){
					if(this.lines[j][i].value==9){
						this.AROUND.forEach(offset => {
							let row = j + offset[0]
							let col = i + offset[1]
							if(this.lines[row]&&
							   this.lines[row][col]!==undefined&&
							   this.lines[row][col].value!=9
							){
							   this.lines[row][col].value++	
							}
						})
					}
				}
			}
		},
		init(){
			this.score = 0
			let value = 0, status = this.BACK
			this.lines = new Array(this.width)
			for(let j=0;j<this.width;j++){
				this.lines[j] = new Array(this.width)
				for(let k=0;k<this.width;k++){
					this.lines[j][k] = {value, status, rowIndex:j, colIndex:k}
				}
			}
		},
		turn(rowIndex, colIndex){
			if(!this.flag_func){
			let cell = this.lines[rowIndex][colIndex]
			if(cell.status == this.BACK){
				this.score++
				cell.status = this.FRONT
				if(cell.value == 9){
					this.showAll()
					setTimeout(alert('游戏结束'),500)
				}else if(cell.value == 0){
					this.bloom(cell)
				}
			}
			}else{
				this.flag(rowIndex, colIndex)
			}
		},
		flag(rowIndex, colIndex){
			let cell = this.lines[rowIndex][colIndex]
			if(cell.status == this.BACK){
				if(this.flag_num==this.bomb_num){
					alert('旗子已用完')
					return
				}
				cell.status = this.FLAG
				this.flag_num++
				if(this.flag_num==this.bomb_num){
					if(this.judge_win()){
						alert('你赢了!!已标记全部地雷')
					}else{
						alert('挑战失败，有地雷未标出')
					}
					this.showAll()
				}
			}else if(cell.status == this.FLAG){
				cell.status = this.BACK
				this.flag_num--
			}
		},
		bloom(cell){
			if(cell.value!==0) return
			this.AROUND.forEach(offset => {
				const row = cell.rowIndex + offset[0]
				const col = cell.colIndex + offset[1]
				if(this.lines[row]&&
				   this.lines[row][col]!==undefined&&
				   this.lines[row][col].status === this.BACK
				){
				   this.lines[row][col].status = this.FRONT
				   this.score++
				   this.bloom(this.lines[row][col])
				}
			})
		},
		showAll(){
			for(let k=0;k<this.width;k++){
				for(let j=0;j<this.width;j++){
					this.lines[k][j].status = this.FRONT
				}
			}
		},
		judge_win(){
			for(let k=0;k<this.width;k++){
				for(let j=0;j<this.width;j++){
					let item = this.lines[k][j]
					if(item.status == this.FLAG && item.value != 9){
						return false
					}
				}
			}
			return true
		}
	},
	mounted(){
		this.run()
		document.oncontextmenu = () => false
		this.window = window
	},
	filters:{
		textFilter:function(val){
			if(val.status==2){return '\u{1F3C1}'}
			else if(val.status==1){return ''}
			else{return val.value==0?'':val.value==9?'\u{1F4A3}':val.value}
		}
	}
})
window.vm = vm
</script>
</html>